%h2
  %a.logo{href: root_path}
    EZI Document search engine
= link_to 'Upload new document and terms collections', new_collection_path
- if @collections.count == 2
  .current_settings
    - @collections.each do |c|
      %p Current #{c.description} file: #{c.filename}
  .search_field{"data-previous-query" => "#{@previous_query}"}
    = form_for @search, url: { action: 'create' } do |f|
      = f.text_field :query
      = f.submit 'Search'
  - unless @found_documents.nil?
    - @found_documents.each do |d|
      .single_result
        %p #{d.title}
        %p #{d.cosine_similarity}
